:root {
  --global-main-color: #d6ed17;
  --global-secondary-color: #606060;
  --body-light-background: linear-gradient(
    120deg,
    #d6ed17ff 0%,
    rgb(202, 156, 29) 100%
  );
  --high-priority: red;
  --spinner: #d31515;
}
html[data-theme="dark"] {
  --global-main-color: #606060;
  --global-secondary-color: #d6ed17;
  --body-light-background: linear-gradient(
    45deg,
    #606060 0%,
    rgb(12, 11, 11) 100%
  );
  --high-priority: rgb(163, 28, 51);
  --spinner: rgb(37, 221, 197);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: var(--body-light-background);
  color: var(--global-main-color);
  transition: all 0.5s;
}
header {
  padding: 5px;
  margin: 0;
}
#mode-button {
  background: none;
  background-color: var(--global-secondary-color);
  color: var(--global-main-color);
  border: none;
  border-radius: 15%;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 5px;
  margin: 0 10px;
}
#mode-button:hover {
  color: var(--global-secondary-color);
  background-color: var(--global-main-color);
}
main {
  min-height: 90vh;
}
#title {
  text-align: center;
  color: var(--global-secondary-color);
}
.searchFor {
  position: absolute;
  top: 30px;
  right: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#search-for {
  height: 1.5rem;
  padding: 0 5px;
  margin: 0;
}
#search-button {
  height: 1.7rem;
  background: none;
  color: var(--global-secondary-color);
  background-color: var(--global-main-color);
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0 5px;
  margin: 0;
}
#search-button:hover {
  color: var(--global-main-color);
  background-color: var(--global-secondary-color);
}
.control-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 17.5%;
  padding: 5px;
  border: 2.5px var(--global-secondary-color solid);
  background-color: var(--global-secondary-color);
  overflow: hidden;
}
#text-input {
  margin: 0;
  padding-left: 3px;
  height: 2rem;
  width: 15rem;
}
#priority-selector {
  height: 1.7rem;
}
#add-button {
  height: 1.5rem;
  background: none;
  color: var(--global-secondary-color);
  background-color: var(--global-main-color);
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0 5px;
  margin: 0;
}
#add-button:hover {
  color: var(--global-main-color);
  /* background-color: #363636; */
  background-color: var(--global-secondary-color);
}
.view-section {
  margin: 0;
  padding: 0;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 5px 17.5%;
  background-color: var(--global-secondary-color);
  padding: 5px;
  overflow: hidden; /* change after media query */
}
.todo-text .todo-priority .todo-created-at {
  display: inline;
}
.todo-text {
  margin: 5px;
  text-align: center;
  background-color: var(--global-secondary-color);
  flex: 3;
}
.todo-priority {
  margin: 5px;
  text-align: center;
  background-color: var(--global-secondary-color);
  width: 20px;
  border-radius: 25%;
}
.high-priority {
  background-color: var(--high-priority);
  animation-name: high-priority-flashing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.todo-created-at {
  margin: 5px;
  text-align: center;
  background-color: var(--global-secondary-color);
  flex: 1;
}
.checkMark,
.removeItem,
.editItem {
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.checkMark:hover,
.removeItem:hover,
.editItem:hover {
  background-color: var(--global-main-color);
  color: var(--global-secondary-color);
  border-radius: 10%;
}
.fa-check-square,
.fa-trash,
.fa-plus,
.fa-edit,
.fa-github,
.fa-instagram,
.fa-linkedin-in {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
a.social-links {
  color: var(--global-secondary-color);
  font-size: 30px;
  width: auto;
  margin: 20px;
  transition: all 0.5s;
}
a:hover {
  color: black;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  width: 50%;
  margin: 0 25%;
  transition: all 0.3s;
}
/* The alert close button */
.closeBtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.alert:hover {
  background-color: #b32117;
}
/* When moving the mouse over the close button */
.closeBtn:hover {
  color: black;
}
#sort-button {
  background: none;
  color: var(--global-secondary-color);
  background-color: var(--global-main-color);
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 5px;
  margin: 0 10px;
}
#sort-button:hover {
  color: var(--global-main-color);
  background-color: var(--global-secondary-color);
}
#input-container {
  display: flex;
  align-items: center;
}
#text-input {
  height: 1.5rem;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.editDiv {
  display: flex;
}
.edit-input {
  margin: 0;
  padding: 0, 5px;
  height: 1.5rem;
}
.use-edit {
  background: none;
  color: var(--global-secondary-color);
  background-color: var(--global-main-color);
  border: none;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 5px;
  margin: 0 10px;
}
.use-edit:hover {
  color: var(--global-main-color);
  background-color: var(--global-secondary-color);
}
#spinner {
  visibility: hidden;
  width: 80px;
  height: 80px;
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}
#spinner.show {
  visibility: visible;
}

/* loading spinner animation */
@keyframes spin {
  0% {
    border-top: 5px solid var(--spinner);
  }
  25% {
    border-top: 5px solid white;
    border-right: 5px solid var(--spinner);
  }
  50% {
    border-right: 5px solid white;
    border-bottom: 5px solid var(--spinner);
  }
  75% {
    border-bottom: 5px solid white;
    border-left: 5px solid var(--spinner);
  }
  100% {
    border-top: 5px solid var(--spinner);
  }
}

/* priority 5 animation */
@keyframes high-priority-flashing {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: var(--high-priority);
  }
  100% {
    background-color: inherit;
  }
}

@media only screen and (max-width: 825px) {
  body {
    font-size: 14px;
    transition: all 0.5s;
  }
  #text-input {
    margin: 0;
    padding-left: 3px;
    height: 1rem;
    width: 5rem;
  }
  #priority-selector {
    height: 1rem;
  }
  a.social-links {
    color: var(--global-secondary-color);
    font-size: 20px;
    width: auto;
    margin: 10px;
    transition: all 0.3s;
  }
  .todo-priority {
    margin: 5px;
    text-align: center;
    background-color: var(--global-secondary-color);
    width: 15px;
    border-radius: 25%;
  }
  .searchFor {
    position: absolute;
    top: 30px;
    right: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  #search-for {
    height: 1rem;
    padding: 0 5px;
    margin: 0;
    width: 5rem;
  }
  #search-button {
    height: 1.2rem;
    background: none;
    color: var(--global-secondary-color);
    background-color: var(--global-main-color);
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0 5px;
    margin: 0;
  }
  .edit-input {
    margin: 0;
    padding: 0, 5px;
    height: 1rem;
    width: 5rem;
  }
  .use-edit {
    background: none;
    color: var(--global-secondary-color);
    background-color: var(--global-main-color);
    border: none;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 5px;
    margin: 0 10px;
  }
}
@media only screen and (max-width: 430px) {
  body {
    font-size: 14px;
    transition: all 0.5s;
  }
  #search-for {
    width: 3rem;
    font-size: 12px;
  }
  #text-input {
    margin: 0;
    padding-left: 3px;
    height: 1rem;
    width: 3.5rem;
    font-size: 12px;
  }
  #priority-selector {
    height: 1rem;
  }
  a.social-links {
    color: var(--global-secondary-color);
    font-size: 20px;
    width: auto;
    margin: 2%;
    transition: all 0.3s;
  }
  .countContainer {
    width: auto;
  }
}
@media only screen and (max-width: 385px) {
  body {
    font-size: 10px;
    transition: all 0.5s;
  }
  #search-for {
    width: 2rem;
    font-size: 9px;
  }
  #text-input {
    font-size: 10px;
    margin: 0;
    padding-left: 3px;
    height: 1rem;
    width: 3rem;
  }
  #add-button {
    height: 1.2rem;
  }
  #priority-selector {
    height: 1rem;
  }
  a.social-links {
    color: var(--global-secondary-color);
    font-size: 20px;
    width: auto;
    margin: 2%;
    transition: all 0.3s;
  }
  .countContainer {
    width: 5%;
  }
}
